<!-- control.launch -->

<launch>
    <!-- Load control parameters -->
    <rosparam file="$(find control)/config/control_parameters.yaml" command="load"/>

    <!-- Launch the kortex_driver -->
    <include file="src/ros_kortex/launch/kortex_driver.launch">
        <arg name="ip_address" value="10.75.13.13"/>
        <arg name="robot_name" value="my_gen3"/>
        <arg name="username" value="admin"/>
        <arg name="password" value="admin"/>
    </include>

    <!-- Launch the arm_controller node -->
    <node name="arm_controller" pkg="control" type="arm_controller.py" output="screen"/>

    <!-- Launch the impedance_controller node -->
    <node name="impedance_controller" pkg="control" type="impedance_controller.py" output="screen"/>
</launch>
